### 1.Read the data from the CSV file into a DataFrame and display the first five rows.

In [1]:
import pandas as pd

In [2]:
# polls_filepath = 'C:/DATA/ramen-ratings.csv'
ramen_filepath  = 'C:/DATA/ramen-ratings.csv'
ramen_df =pd.read_csv(ramen_filepath)

In [3]:
ramen_df.head(5)

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

### 2.Group the data and get the average of the groups to produce a DataFrame that looks like this:

In [4]:
ramen_grouped = ramen_df.groupby(['Country', 'Brand', 'Style'], as_index=False)['Stars'].mean()
print(ramen_grouped)

       Country         Brand Style     Stars
0    Australia     Fantastic   Cup  3.041667
1    Australia         Maggi  Pack  5.000000
2    Australia      Singa-Me   Cup  2.833333
3    Australia        Suimin   Cup  3.287500
4    Australia       Trident  Pack  2.750000
..         ...           ...   ...       ...
573    Vietnam         Vifon  Pack  2.877273
574    Vietnam  Vina Acecook  Bowl  3.812500
575    Vietnam  Vina Acecook   Cup  2.500000
576    Vietnam  Vina Acecook  Pack  3.535714
577    Vietnam  Vina Acecook  Tray  3.500000

[578 rows x 4 columns]

### 3.Group the data in the same way, but this time get both the average and the count.

In [6]:
ramen_grouped = ramen_df.groupby(['Country'], as_index=False)['Stars'].agg(['mean', 'count']).reset_index()
ramen_grouped.columns = ['Country', 'Avg_Stars', 'Count']
print(ramen_grouped)

          Country  Avg_Stars  Count
0       Australia   3.138636     22
1      Bangladesh   3.714286      7
2          Brazil   4.350000      5
3        Cambodia   4.200000      5
4          Canada   2.243902     41
5           China   3.421893    169
6        Colombia   3.291667      6
7           Dubai   3.583333      3
8         Estonia   3.500000      2
9            Fiji   3.875000      4
10        Finland   3.583333      3
11        Germany   3.638889     27
12          Ghana   3.500000      2
13        Holland   3.562500      4
14      Hong Kong   3.801825    137
15        Hungary   3.611111      9
16          India   3.395161     31
17      Indonesia   4.067460    126
18          Japan   3.981605    352
19       Malaysia   4.154194    155
20         Mexico   3.730000     25
21        Myanmar   3.946429     14
22          Nepal   3.553571     14
23    Netherlands   2.483333     15
24        Nigeria   1.500000      1
25       Pakistan   3.000000      9
26    Philippines   3.329787     47
27         Poland   3.625000      4
28        Sarawak   4.333333      3
29      Singapore   4.126147    109
30    South Korea   3.790554    307
31         Sweden   3.250000      3
32         Taiwan   3.665402    224
33       Thailand   3.384817    191
34             UK   2.997101     69
35            USA   3.457043    323
36  United States   3.750000      1
37        Vietnam   3.187963    108

### 4.Create a pivot table that shows the average stars by ramen style for each country.

In [7]:
ramen_pivot = pd.pivot_table(ramen_df, values='Stars', index='Country', columns='Style', aggfunc='mean')
print(ramen_pivot)

Style          Bar      Bowl   Box  Can       Cup      Pack      Tray
Country
Australia      NaN       NaN   NaN  NaN  3.120588  3.200000       NaN
Bangladesh     NaN       NaN   NaN  NaN       NaN  3.714286       NaN
Brazil         NaN       NaN   NaN  NaN  4.500000  4.250000       NaN
Cambodia       NaN       NaN   NaN  NaN       NaN  4.200000       NaN
Canada         NaN  2.281250   NaN  NaN  1.970588  2.515625       NaN
China          NaN  3.527778   NaN  NaN  2.859375  3.538776  2.583333
Colombia       NaN       NaN   NaN  NaN  3.083333  3.500000       NaN
Dubai          NaN       NaN   NaN  NaN       NaN  3.583333       NaN
Estonia        NaN       NaN   NaN  NaN       NaN  3.500000       NaN
Fiji           NaN       NaN   NaN  NaN       NaN  3.875000       NaN
Finland        NaN       NaN   NaN  NaN       NaN  3.583333       NaN
Germany        NaN       NaN   NaN  NaN  3.704545  3.593750       NaN
Ghana          NaN       NaN   NaN  NaN       NaN  3.500000       NaN
Holland        NaN       NaN   NaN  NaN       NaN  3.562500       NaN
Hong Kong      NaN  3.735000   NaN  NaN  4.039474  3.702239  3.625000
Hungary        NaN       NaN   NaN  NaN       NaN  3.611111       NaN
India          NaN       NaN   NaN  NaN  2.583333  3.482143       NaN
Indonesia      NaN       NaN  4.25  NaN  3.940476  4.091346       NaN
Japan          NaN  4.140278  5.00  NaN  3.940816  3.801613  4.375000
Malaysia       NaN  4.281250  5.00  NaN  4.011905  4.156452       NaN
Mexico         NaN       NaN   NaN  NaN  3.733333  3.725000       NaN
Myanmar        NaN       NaN   NaN  NaN  4.083333  3.909091       NaN
Nepal          NaN       NaN   NaN  NaN       NaN  3.553571       NaN
Netherlands    NaN       NaN   NaN  NaN  1.333333  2.770833       NaN
Nigeria        NaN       NaN   NaN  NaN       NaN  1.500000       NaN
Pakistan       NaN       NaN   NaN  NaN       NaN  3.000000       NaN
Philippines    NaN  3.375000   NaN  NaN  2.937500  3.363636       NaN
Poland         NaN       NaN   NaN  NaN       NaN  3.625000       NaN
Sarawak        NaN       NaN   NaN  NaN       NaN  4.333333       NaN
Singapore      NaN  4.096154   NaN  NaN  3.925926  4.210145       NaN
South Korea    NaN  3.865809   NaN  NaN  3.500000  3.857459  3.479167
Sweden         NaN       NaN   NaN  NaN       NaN  3.250000       NaN
Taiwan         NaN  3.263514   NaN  NaN  3.250000  3.761326  3.333333
Thailand       NaN  3.142045   NaN  NaN  3.588542  3.386598  3.750000
UK             NaN  3.250000   NaN  NaN  2.978125  3.000000       NaN
USA            5.0  3.400000  1.50  3.5  3.376786  3.554688  3.408654
United States  NaN       NaN   NaN  NaN       NaN  3.750000       NaN
Vietnam        NaN  3.362500   NaN  NaN  2.656250  3.183333  3.750000

### 5.Calculate the total number of stars for each country, and then rank the countries in descending order by total stars.

In [12]:
ramen_totals = ramen_df.groupby('Country')['Stars'].sum().reset_index()
ramen_totals['Rank'] = ramen_totals['Stars'].rank(ascending=False, method='min')
ramen_totals = ramen_totals.sort_values('Rank').reset_index(drop=True)
print(ramen_totals)

          Country     Stars  Rank
0           Japan  1401.525   1.0
1     South Korea  1163.700   2.0
2             USA  1116.625   3.0
3          Taiwan   821.050   4.0
4        Thailand   646.500   5.0
5        Malaysia   643.900   6.0
6           China   578.300   7.0
7       Hong Kong   520.850   8.0
8       Indonesia   512.500   9.0
9       Singapore   449.750  10.0
10        Vietnam   344.300  11.0
11             UK   206.800  12.0
12    Philippines   156.500  13.0
13          India   105.250  14.0
14        Germany    98.250  15.0
15         Mexico    93.250  16.0
16         Canada    92.000  17.0
17      Australia    69.050  18.0
18        Myanmar    55.250  19.0
19          Nepal    49.750  20.0
20    Netherlands    37.250  21.0
21        Hungary    32.500  22.0
22       Pakistan    27.000  23.0
23     Bangladesh    26.000  24.0
24         Brazil    21.750  25.0
25       Cambodia    21.000  26.0
26       Colombia    19.750  27.0
27           Fiji    15.500  28.0
28         Poland    14.500  29.0
29        Holland    14.250  30.0
30        Sarawak    13.000  31.0
31        Finland    10.750  32.0
32          Dubai    10.750  32.0
33         Sweden     9.750  34.0
34          Ghana     7.000  35.0
35        Estonia     7.000  35.0
36  United States     3.750  37.0
37        Nigeria     1.500  38.0

#### 6.Bin the stars data into 11 bins. Label the bins from 0.0 to 5.0 in increments of .5, and then display the count of the stars in each bin.

In [13]:
bins = [i/2 for i in range(11)]
ramen_df['Stars Binned'] = pd.cut(ramen_df['Stars'], bins=bins, labels=[f"{i/2}-{(i+1)/2}" for i in range(10)])
star_counts = ramen_df['Stars Binned'].value_counts().sort_index()
print(star_counts)

0.0-0.5     26
0.5-1.0     28
1.0-1.5     49
1.5-2.0     96
2.0-2.5     92
2.5-3.0    266
3.0-3.5    511
3.5-4.0    749
4.0-4.5    284
4.5-5.0    450
Name: Stars Binned, dtype: int64

### 7.Bin the stars data into five quantiles. Give each bin a descriptive label, and then display the count of the stars in each bin.

In [14]:
ramen_df['Stars Quantile'] = pd.qcut(ramen_df['Stars'], q=5, labels=['Very Low', 'Low', 'Medium', 'High', 'Very High'])
star_counts = ramen_df['Stars Quantile'].value_counts().sort_index()
print(star_counts)

Very Low     583
Low          511
Medium       749
High         284
Very High    450
Name: Stars Quantile, dtype: int64

###  Question 1. Which five countries have the most stars overall? Hint: Use the grouped data that you created in task 5.

In [17]:
stars_by_country = ramen_df.groupby('Country')['Stars'].sum().reset_index()
top_countries = stars_by_country.sort_values('Stars', ascending=False).head(5)
print(top_countries[['Country', 'Stars']])

        Country     Stars
18        Japan  1401.525
30  South Korea  1163.700
35          USA  1116.625
32       Taiwan   821.050
33     Thailand   646.500

### Question2:What is the only country that produces canned ramen?

In [18]:
canned_ramen = ramen_df[ramen_df['Style'] == 'Can']
unique_countries = canned_ramen['Country'].unique()
print(unique_countries)

['USA']